@fortawesome:registry=https://npm.fontawesome.com/
# プロプランを使用. アカウントはaws.kintone-copilot@showcase-tv.com
# トークンを入れていてリスクがあるが、最悪漏れても損害は限定的なのでコミット対象とする
//npm.fontawesome.com/:_authToken=007C8AF2-FF09-43A0-8384-2762956EB150
progress=false