.scrollbar,
.w-100 {
  width: 100%;
}

.scrollbar::-webkit-scrollbar {
  width: 6px;
  height: 2px;
}

.scrollbar::-webkit-scrollbar-track {
  background-color: #EFEFF1;
}

.scrollbar::-webkit-scrollbar-thumb {
  background-color: #B7B7B8;
  border-radius: 4px;
}

.scrollbar::-webkit-scrollbar-thumb:hover {
  background: #7D7D8A;
}
